body {
 margin: 0;
 padding: 0;
 background-image: url("./fondo.jpg");
 background-size: cover;
 font-family: sans-serif;
 background-repeat: no-repeat
}

.img{
    
    margin-top: -80px;
    background-image: url("./avatar.svg");
    background-repeat: no-repeat;
 background-size: cover;
    
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left:40%;
}